@page
@model VirtualSchool.Pages.NonVerifiedModel
@{
    ViewData["Title"] = "Подтверждение";
}

<style>
    h1,h2{
        text-align:center;
    }
</style>

<h1>Страница не подтверждена</h1>
<h2>Заявка на подтверждение аккаунта уже отправлена</h2>
<h2>Подождите подтверждения вашего аккаунта от представителя вашей школы</h2>
